body {
	font-family:Montserrat, 'Arial', 'Sans-serif';
	background-image:url(images/debut_dark.png);
	box-sizing:border-box;
}

/* Header / Navbar */

.container-fluid {
	width:960px;
	height:100px;
}

.navbar {
	border:0px;
	border-radius: 0px;
}

.navbar-default {
	border-color: #fff;
	background-color:#fff;
	position:relative;
	z-index:1;
}

.navbar-default .navbar-brand {
    color: #1c1c1c;
}

.navbar-brand {
	background-color: #F7CA18;
	height: 90px;
    position: absolute;
    bottom: 0;
    font-size: 2.25em;
    text-align: center;
    font-weight:bold;
    letter-spacing: 1px;
    padding: 40px 40px;
}

.navbar-default .navbar-nav>li>a {
    color: #1c1c1c;
    padding-top: 50px;
    font-size: 16px;
    margin-left: 10px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #F7CA18;
}

.navbar-ex1-collapse {
	background-color: #fff;
	z-index:3;
}

button.navbar-toggle {
	position:relative;
	top: 25px;
	right: 10px;
}


/* Content / Connect */

.content-row {
	margin-top:10px;
	float:left;
}

.content, .contact-content {
	background-color: #fff;
	position:relative;
	padding: 20px;
	margin-right:20px;
	float:left;
}

#content-title {
	font-size: 1.75em;
	margin-bottom:-10px;
	letter-spacing:1px;
	color:#1c1c1c;
}

#myPhoto {
	float:left;
	width: 20%;
	margin: 0px 20px 10px 0px;
}

#myBio {
	font-size:1.15em;
	line-height: 1.5;
	font-weight: 200;
	margin-bottom: 40px;
}

.connect, .contact-connect {
	clear:right;
	background-color: #fff;
	float:right;
	width:30%;
	padding: 20px 20px;
}

.icon {
	width: 50px;
	margin-right:5px;
}

.input-group {
	position:relative;
	width: 100%;
}

.form-control {
	border-radius: 0px;
}

#submit {
	background-color:#F7CA18;
	border-radius: 0px;
	border: 0px;
}

/* Footer */
footer {
	background-color: #fff;
    clear: both;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    border-top-color: #F7CA18;
    border-top-style: solid;
    border-top-width: 5px;
    text-align:center;
    z-index: 3;
    padding-top:5px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.navbar-right {
		margin-right:-40px;
	}

/*	.navbar-default .navbar-nav>li>a:; {
    padding: 10px 50px 20px 0;
    font-size: 16px;
    text-align: right;
}*/

	.container-fluid {
		width: 90%;
	}

	#myPhoto {
		width:100%;
	}

	#myBio {
		line-height:1.75;
	}
	
	.content{
		width: 100%;
	}

	.contact-content {
		width: 100%;
	}

	.connect {
		width: 100%;
		margin-top:20px;
		margin-bottom: 60px;
	}

	.contact-connect {
		float:left;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 50px;
	}

	.icon {
		float: left;
		width: 70px;
		margin-right: 10px;
		margin-bottom: 20px;
	}	
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.container-fluid {
		width: 95%;
	}

	.content-row {
		width: 730px;
	}

	#myPhoto {
		width:35%;
	}
	
	.content {
		width: 63%;
		padding-bottom: 0px;
	}

	.contact-content {
		width: 63%;
		padding-bottom: 30px;
		margin-bottom: 50px;
	}

	.connect, .contact-connect {
		width: 34%;
		margin-top:0px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.content-row {
		width: 946px;
	}

	#myPhoto {
		margin-bottom: 0px;
	}

	.icon {
		width: 60px;
	}

	.contact-connect {
		margin-left: 8px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container-fluid {
		width: 94%;
	}

	.content-row {
		width: 1136px;
	}

	.content, .contact-content {
		width:69%;
	}
	
	#myPhoto {
		width: 30%;
	}

	.connect, .contact-connect {
		width:28%;
	}

	.contact-connect {
		margin-left: 14px;
	}

	.icon {
		width: 50px;
	}
}

@media only screen and (min-width : 1366px) {
	.content-row {
		width: 100%;
	}

	#myPhoto {
		width: 23%;
	}
}


